<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VendorList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDA08A1E1C2428C8000C6B7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDA08A371C2428C8000C6B7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDA08A421C2428C8000C6B7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
